<div class="container-fluid">
    <div class="row">
        <div class="col-sm-7">
            <p class="h1">A Platform For Community<br>To Learn, Build And Command</p>
            <button class="buttonClass btn btn-primary"><p class="h3">Connect Now</p></button><br>
            <img src="../../assets/images/Learning Intelligence.png" alt="Learning Intelligence" class="learning learningBackColor">
        </div>
        <div class="col-sm-5 mt-5 backColor">
            <img src="../../assets/images/database.png" alt="database" class="database">
            <img src="../../assets/images/deep-learning.png" alt="deep-learning" class="deep-learning">
            <img src="../../assets/images/machine-learning.png" alt="machine-learning" class="machine-learning">
            <img src="../../assets/images/machine-learning (2).png" alt="machine-learning-2" class="machine-learning-2 backColorML2">
        </div>
    </div>
    <app-social-network></app-social-network>
    <app-followers></app-followers>
    <div class="row">
        <div class="col-sm-5 flatBackgroundColor">
            <img src="../../../assets/images/Flat.png" alt="Flat" class="flatClass">
        </div>
        <div class="col-sm-7 geekeeClass">
            <p class="h1">Thinking About #Geekeedatascience<br>Let's Explore It</p>
            <p class="geekeePara">Geekee '', is a slang word which is used by technical people, and the Data science term which<br>means the study of data.<br>Data science is a broad application using computational techniques, procedures, algorithms, and<br>structures to derive information or observations from data in different ways analogous to data<br>mining, whether formal or unstructured.<br>Data Science is a very common term in the IT field and everybody knows that this is a fancy term<br>that would help us manage this huge volume of data that we are producing now.</p>
        </div>
    </div>
    <app-goalandmotive></app-goalandmotive>
    <app-storyline></app-storyline>
</div>