.aboutDeepak {
  margin-top: 386px;
  margin-left: 140px;
}

.deepakImage {
  margin-top: -500px;
  margin-left: 1000px;
  width: 873px;
  height: 841px;
  right: 10%;
}

.cloud {
  margin-left: 1100px;
  margin-top: -500px;
}

.git {
  margin-left: 1650px;
  margin-top: -600px;
}
