<div class="container-fluid">
    <div class="row">
        <div class="col-sm-7">
            <p class="h1">A Platform For Community<br>To Learn, Build And Command</p>
            <button class="buttonClass btn btn-primary"><p class="h3">Connect Now</p></button><br>
            <img src="../../assets/images/Learning Intelligence.png" alt="Learning Intelligence" class="learning learningBackColor">
        </div>
        <div class="col-sm-5 mt-5 backColor">
            <img src="../../assets/images/database.png" alt="database" class="database">
            <img src="../../assets/images/deep-learning.png" alt="deep-learning" class="deep-learning">
            <img src="../../assets/images/machine-learning.png" alt="machine-learning" class="machine-learning">
            <img src="../../assets/images/machine-learning (2).png" alt="machine-learning-2" class="machine-learning-2 backColorML2">
        </div>
    </div>
    <app-social-network></app-social-network>
    <app-followers></app-followers>
</div>